{% extends "base.twig" %}

{% block content %}

{# BEGIN POST SECTION #}
<section id="post" class="section py-18">
	<div class="container">
        <div class="section__helmet">
            <h1 class="hero__heading">{{ post.title }}</h1>
        </div>
        <article class="prose">
            {{ post.content }}
        </article>
	</div>
</section>
{# END POST SECTION #}

{% if post.slug == 'food-for-thought' %}
<section id="classes" class="section py-18">
    <div class="container">
        <div class="section__helmet">
            <h2 class="posts__heading">View upcoming classes</h2>
        </div>
        <div class="posts__wrapper">
            {% for post in classes %}
            <a href="#" target="_blank" class="posts__card">
                <img src="{{ post.thumbnail }}" alt="" class="posts__card__img">
                <div class="posts__card__bottom">
                    <h3 class="posts__card__title">{{ post.title }}</h3>
                    <p class="posts__card__description">Lorem ipsum dolor</p>
                    <p class="posts__card__link">Buy now<img src="{{ theme.path ~ '/static/img/external-link.svg' }}" alt="" class="icon"></p> 
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% include 'partial/testimonials.twig' %}

{% endblock %}
