<section id="laurie" class="section pt-36 pb-18">
    <div class="container">
        <div class="laurie__wrapper">
            <div class="laurie__left">
                <img src="{{ theme.path ~ '/static/img/laurie-headshot.webp' }}" alt="" class="laurie__left__img">
            </div>
            <div class="laurie__right">
                <p class="eyebrow">{{ fields.eyebrow }}More than a vegan</p>
                <h2 class="laurie__heading">{{ fields.heading }}About Laurie</h2>
                <p class="laurie__subheading">{{ fields.description }}When a test result gave me pause, I decided to take back control of my health by using food as my medicine. I went on to study plant-based nutrition and health coaching so that I could help others become chronically well.</p>
                <a href="{{ fields.button_link }}" class="btn btn--secondary">{{ fields.button_text }}Read more</a>
            </div>
        </div>
    </div>
</section>