<footer id="footer" class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__col col-span-3">
                    <img src="{{ theme.path ~ '/static/img/laurie-logo.svg' }}" alt="" class="footer__logo">
                    <p class="footer__copy">Plant-based nutrition and wellness. Turn over a new leaf. Greens for good health.</p>
                </div>
                <div class="footer__col col-span-2">
                    <h6 class="footer__heading">Links</h5>
                    <a href="/" class="footer__link">Home</a>
                    <a href="/about" class="footer__link">About</a>
                    <a href="/blog" class="footer__link">Blog</a>
                    <a href="/doctors" class="footer__link">Doctors</a>
                    <a href="/resources" class="footer__link">Resources</a>
                    <a href="/contact" class="footer__link">Contact</a>
                </div>
                <div class="footer__col col-span-2">
                    <h6 class="footer__heading">Services</h5>
                    <a href="/food-for-thought" class="footer__link">Food for Thought</a>
                    <a href="/eat-to-heal-over-50" class="footer__link">Eat to Heal Over 50</a>
                    <a href="/guide-by-your-side" class="footer__link">Guide By Your Side</a>
                </div>
                <div class="footer__col col-span-2">
                    <h6 class="footer__heading">Legal</h5>
                    <a href="/" class="footer__link">Disclaimer</a>
                    <a href="/" class="footer__link">Terms & Conditions</a>
                    <a href="/" class="footer__link">Privacy Policy</a>
                </div>
                <div class="footer__col col-span-3">
                    <h6 class="footer__heading">Subscribe</h5>
                    <form action="#" class="footer__form">
                        <input type="email" placeholder="Email">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom__wrapper">
                <p class="footer__copyright">Copyright {{"now"|date('Y')}} - Encouraging Greens. All rights reserved.</p>
                <div class="footer__social-wrapper">
                    <p class="footer__copy">Social links — </p>
                    <a href="https://www.facebook.com/Greens4GoodHealth" target="_blank" class="footer__social-link"><img src="{{ theme.path ~ '/static/img/facebook.svg' }}" class="icon"/></a>
                    <a href="https://twitter.com/encouraginggrns" target="_blank" class="footer__social-link"><img src="{{ theme.path ~ '/static/img/twitter.svg' }}" class="icon"/></a>
                    <a href="https://www.instagram.com/encouraginggreens/" target="_blank" class="footer__social-link"><img src="{{ theme.path ~ '/static/img/instagram.svg' }}" class="icon"/></a>
                    <a href="https://www.pinterest.com/encouraginggrns/" target="_blank" class="footer__social-link"><img src="{{ theme.path ~ '/static/img/pinterest.svg' }}" class="icon"/></a>
                </div>
            </div>
        </div>
    </div>    
</footer>

